<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <identity impersonate="true"/>
    <authentication mode="Windows"></authentication>
    <anonymousIdentification enabled="false"/>
    <customErrors mode="Off"></customErrors>
  </system.web>

  <appSettings>
    <add key="Environment" value="UAT"/>
    <add key="Logging.TraceLevel" value="Warning"/>
    <add key="Logging.TraceQueueSize" value="150"/>
    <add key="AppID" value="229"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="MGRE.MGRE.Web.Service.ExportService">
        <endpoint address="" binding="basicHttpBinding" contract="MGRE.MGRE.Service.IExportService"/>
      </service>
      <service name="MGRE.MGRE.Web.Service.ImportService">
        <endpoint address="" binding="basicHttpBinding" contract="MGRE.MGRE.Service.IImportService"/>
      </service>
      <service name="MGRE.MGRE.Web.Service.DualAppService">
        <endpoint address="" binding="basicHttpBinding" contract="MGRE.MGRE.Service.IDualAppService"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding
						 maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760"
						 messageEncoding="Text">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
