<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="HUBEntities" connectionString="metadata=res://*/ETL.csdl|res://*/ETL.ssdl|res://*/ETL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PP1VDBAU05;initial catalog=HUB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="ETLEntities" connectionString="metadata=res://*/ETL.csdl|res://*/ETL.ssdl|res://*/ETL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PP1VDBAU05;initial catalog=HUB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>